<mat-accordion>
  <mat-expansion-panel (click)="stopEvent($event)">
    <mat-expansion-panel-header>
      <mat-panel-title translate>alphabet.standard</mat-panel-title>
    </mat-expansion-panel-header>
    <button mat-menu-item *ngFor="let _alphabet of standard" (click)="changeAlphabet(_alphabet)">{{_alphabet.name}}</button>
  </mat-expansion-panel>

  <mat-expansion-panel (click)="stopEvent($event)">
    <mat-expansion-panel-header>
      <mat-panel-title translate>alphabet.spanish</mat-panel-title>
    </mat-expansion-panel-header>
    <button mat-menu-item *ngFor="let _alphabet of spanish" (click)="changeAlphabet(_alphabet)">{{_alphabet.name}}</button>
  </mat-expansion-panel>

  <mat-expansion-panel (click)="stopEvent($event)">
    <mat-expansion-panel-header>
      <mat-panel-title translate>alphabet.custom.title</mat-panel-title>
    </mat-expansion-panel-header>
    <button mat-menu-item *ngFor="let _alphabet of custom" (click)="changeAlphabet(_alphabet)">{{_alphabet.name}}</button>
    <button mat-menu-item (click)="createCustom()">
      <mat-icon>add</mat-icon>
      <span translate>alphabet.custom.new.button</span>
    </button>
  </mat-expansion-panel>
</mat-accordion>