<mat-card class="top-margin-override">
  <mat-card-content>
    <div class="basic-row">
      <div class="left-column">
        <span>Alphabet:</span>
      </div>
      <div class="right-column">
        <app-alphabet></app-alphabet>
      </div>
    </div>
    <div class="basic-row">
      <div class="left-column">
        <span>Substitution alphabet:</span>
      </div>
      <div class="right-column">
        <app-alphabet [shiftFunction]="affineCallback"></app-alphabet>
      </div>
    </div>
    <form class="slider-row" [formGroup]="options">
      <mat-form-field>
        <mat-label>Decimation</mat-label>
        <input matInput type="number" formControlName="decimation" >
      </mat-form-field>
      <ng-container *ngIf="isPure; else notPureTemplate">
        <mat-icon [color]="'primary'" matTooltip="Pure decimation">done</mat-icon>
      </ng-container>
      <ng-template #notPureTemplate>
        <mat-icon [color]="'accent'" matTooltip="Non-reversible decimation">warning</mat-icon>
      </ng-template>
      <mat-slider class="top-override" [min]="-alphabet.length" [max]="alphabet.length" step="1" [value]="sliderDecimation" (input)="sliderDecimation = $event.value"></mat-slider>
    </form>
    <form class="basic-row" [formGroup]="options">
      <mat-form-field class="left-column">
        <mat-label>Shift</mat-label>
        <input matInput type="number" formControlName="shift" />
      </mat-form-field>
      <mat-slider class="right-column top-override" [min]="-alphabet.length" [max]="alphabet.length" step="1" [value]="sliderShift" (input)="sliderShift = $event.value"></mat-slider>
    </form>
  </mat-card-content>
</mat-card>
<app-cipher-operator [encrypt]="encryptCallback" [isEncrypt]="true" [keyChangeListener]="keyChange"></app-cipher-operator>
<app-cipher-operator [decrypt]="decryptCallback" [isEncrypt]="false" [keyChangeListener]="keyChange"></app-cipher-operator>
