mat-card > form {
    & > mat-card-content mat-form-field {
        width: calc(50% - 1rem);
        &:first-child {
            margin-right: 2rem;
        }
    }
    & > mat-card-actions{
        & mat-slide-toggle {
            margin-right: 2rem;
            float: right;
        }
        & button {
            margin-left: 2rem;
        }
    } 

}