<mat-card class="top-margin-override">
    <form [formGroup]="formGroup">
        <mat-card-header>
            <ng-container *ngIf="isEncrypt; else isDecryptTemplate">
                <mat-card-title>{{ 'ciphers.common.plaintext' | translate }} → {{ 'ciphers.common.cipher' | translate }}</mat-card-title>
            </ng-container>
            <ng-template #isDecryptTemplate>
                <mat-card-title>{{ 'ciphers.common.cipher' | translate }} → {{ 'ciphers.common.plaintext' | translate }}</mat-card-title>
            </ng-template>
        </mat-card-header>
        <mat-card-content>
            <mat-form-field>
                <mat-label>{{ 'ciphers.common.' + (isEncrypt ? "plaintext": "cipher") | translate }}</mat-label>
                <textarea matInput formControlName="input" cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="10"></textarea>
            </mat-form-field>
            <mat-form-field>
                <mat-label>{{ 'ciphers.common.' + (isEncrypt ? "cipher" : "plaintext") | translate }}</mat-label>
                <textarea matInput readonly formControlName="output" cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="10"></textarea>
            </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
            <button mat-flat-button color="primary" (click)="process()" [disabled]="auto.checked">{{ 'ciphers.common.' + (isEncrypt ? "encrypt": "decrypt") | translate }}</button>
            <mat-slide-toggle formControlName="ignoreCase">{{ 'ciphers.common.options.ignore-case' | translate }}</mat-slide-toggle>
            <mat-slide-toggle formControlName="ignoreWhitespace">{{ 'ciphers.common.options.ignore-whitespace' | translate }}</mat-slide-toggle>
            <mat-slide-toggle #auto formControlName="auto" (toggleChange)="process()">{{ 'ciphers.common.options.auto.' + (isEncrypt ? "encrypt": "decrypt") | translate }}</mat-slide-toggle>
        </mat-card-actions>
    </form>
</mat-card>
