<h1 mat-dialog-title translate>alphabet.custom.new.title</h1>
<div mat-dialog-content>
  <p translate>alphabet.custom.new.description</p>
  <mat-form-field>
    <input matInput [(ngModel)]="alphabet" (keydown.enter)="alphabet.length > 0 ? ok() : null">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="cancel()" cdkFocusInitial>{{ 'common.cancel' | translate }}</button>
  <button mat-button (click)="ok()" [disabled]="alphabet.length == 0">{{ 'common.ok' | translate }}</button>
</div>