<mat-card class="top-margin-override">
  <mat-card-content>
    <div class="basic-row">
      <div class="left-column">
        <span translate>ciphers.common.alphabet.title</span>
      </div>
      <div class="right-column">
        <app-alphabet></app-alphabet>
      </div>
    </div>
    <div class="basic-row">
      <div class="left-column">
        <span translate>ciphers.common.alphabet.substitution</span>
      </div>
      <div class="right-column">
        <app-alphabet [shiftFunction]="decimationCallback"></app-alphabet>
      </div>
    </div>
    <form class="slider-row" [formGroup]="options">
      <mat-form-field>
        <mat-label translate>ciphers.common.decimation</mat-label>
        <input matInput type="number" formControlName="decimation" >
      </mat-form-field>
      <ng-container *ngIf="isPure; else notPureTemplate">
        <mat-icon [color]="'primary'" [matTooltip]="'ciphers.common.tooltips.pure-decimation.true' | translate">done</mat-icon>
      </ng-container>
      <ng-template #notPureTemplate>
        <mat-icon [color]="'accent'" [matTooltip]="'ciphers.common.tooltips.pure-decimation.false' | translate">warning</mat-icon>
      </ng-template>
      <mat-slider class="top-override" [min]="-alphabet.length" [max]="alphabet.length" step="1" [value]="sliderDecimation" (input)="sliderDecimation = $event.value"></mat-slider>
    </form>
  </mat-card-content>
</mat-card>
<app-cipher-operator [encrypt]="encryptCallback" [isEncrypt]="true" [keyChangeListener]="decimationChange"></app-cipher-operator>
<app-cipher-operator [decrypt]="decryptCallback" [isEncrypt]="false" [keyChangeListener]="decimationChange"></app-cipher-operator>
