<mat-nav-list>

  <mat-list-item routerLink="/">
    <button mat-icon-button>
      <mat-icon [inline]="true">home</mat-icon>
    </button>
    <span>Home</span>
  </mat-list-item>

  <mat-list-item routerLink="/docs/about">
    <button mat-icon-button>
      <mat-icon [inline]="true">info</mat-icon>
    </button>
    <span>About</span>
  </mat-list-item>

  <mat-expansion-panel>
    <mat-expansion-panel-header class="indicator-margin-override">
      Substitution ciphers
    </mat-expansion-panel-header>

    <mat-list-item routerLink="/ciphers/substitution/caesar">
      <button mat-icon-button>
        <mat-icon [inline]="true">swap_horiz</mat-icon>
      </button>
      <span>Caesar</span>
    </mat-list-item>

    <mat-list-item routerLink="/ciphers/substitution/decimation">
      <button mat-icon-button>
        <mat-icon [inline]="true">swap_horiz</mat-icon>
      </button>
      <span>Decimation</span>
    </mat-list-item>

    <mat-list-item routerLink="/ciphers/substitution/affine">
      <button mat-icon-button>
        <mat-icon [inline]="true">swap_horiz</mat-icon>
      </button>
      <span>Affine</span>
    </mat-list-item>

  </mat-expansion-panel>
  
  <mat-expansion-panel>
    <mat-expansion-panel-header class="indicator-margin-override">
      Polyalphabetic ciphers
    </mat-expansion-panel-header>

    <mat-list-item routerLink="/ciphers/polyalphabetic/vigenere">
      <button mat-icon-button>
        <mat-icon [inline]="true">text_rotation_none</mat-icon>
      </button>
      <span>Vigenère</span>
    </mat-list-item>

    <mat-list-item routerLink="/ciphers/polyalphabetic/beaufort">
      <button mat-icon-button>
        <mat-icon [inline]="true">text_rotation_none</mat-icon>
      </button>
      <span>Beaufort</span>
    </mat-list-item>

    <mat-list-item routerLink="/ciphers/polyalphabetic/beaufort-variant">
      <button mat-icon-button>
        <mat-icon [inline]="true">text_rotation_none</mat-icon>
      </button>
      <span>Variant Beaufort</span>
    </mat-list-item>

    <mat-list-item routerLink="/ciphers/polyalphabetic/gronsfeld">
      <button mat-icon-button>
        <mat-icon [inline]="true">text_rotation_none</mat-icon>
      </button>
      <span>Gronsfeld</span>
    </mat-list-item>

  </mat-expansion-panel>
</mat-nav-list>
