<mat-nav-list>

  <mat-list-item routerLink="/">
    <button mat-icon-button>
      <mat-icon [inline]="true">home</mat-icon>
    </button>
    <span translate>home.sidenav</span>
  </mat-list-item>

  <mat-list-item routerLink="/docs/about">
    <button mat-icon-button>
      <mat-icon [inline]="true">info</mat-icon>
    </button>
    <span translate>about.sidenav</span>
  </mat-list-item>

  <mat-expansion-panel>
    <mat-expansion-panel-header class="indicator-margin-override">
      {{ 'ciphers.substitution.title' | translate }}
    </mat-expansion-panel-header>

    <mat-list-item routerLink="/ciphers/substitution/caesar">
      <button mat-icon-button>
        <mat-icon [inline]="true">swap_horiz</mat-icon>
      </button>
      <span translate>ciphers.substitution.caesar.capitalized</span>
    </mat-list-item>

    <mat-list-item routerLink="/ciphers/substitution/decimation">
      <button mat-icon-button>
        <mat-icon [inline]="true">swap_horiz</mat-icon>
      </button>
      <span translate>ciphers.substitution.decimation.capitalized</span>
    </mat-list-item>

    <mat-list-item routerLink="/ciphers/substitution/affine">
      <button mat-icon-button>
        <mat-icon [inline]="true">swap_horiz</mat-icon>
      </button>
      <span translate>ciphers.substitution.affine.capitalized</span>
    </mat-list-item>

  </mat-expansion-panel>
  
  <mat-expansion-panel>
    <mat-expansion-panel-header class="indicator-margin-override">
      {{ 'ciphers.polyalphabetic.title' | translate }}
    </mat-expansion-panel-header>

    <mat-list-item routerLink="/ciphers/polyalphabetic/vigenere">
      <button mat-icon-button>
        <mat-icon [inline]="true">text_rotation_none</mat-icon>
      </button>
      <span translate>ciphers.polyalphabetic.vigenere.capitalized</span>
    </mat-list-item>

    <mat-list-item routerLink="/ciphers/polyalphabetic/beaufort">
      <button mat-icon-button>
        <mat-icon [inline]="true">text_rotation_none</mat-icon>
      </button>
      <span translate>ciphers.polyalphabetic.beaufort.capitalized</span>
    </mat-list-item>

    <mat-list-item routerLink="/ciphers/polyalphabetic/beaufort-variant">
      <button mat-icon-button>
        <mat-icon [inline]="true">text_rotation_none</mat-icon>
      </button>
      <span translate>ciphers.polyalphabetic.beaufort-variant.capitalized</span>
    </mat-list-item>

    <mat-list-item routerLink="/ciphers/polyalphabetic/gronsfeld">
      <button mat-icon-button>
        <mat-icon [inline]="true">text_rotation_none</mat-icon>
      </button>
      <span translate>ciphers.polyalphabetic.gronsfeld.capitalized</span>
    </mat-list-item>

    <mat-list-item routerLink="/ciphers/polyalphabetic/one-time-pad">
      <button mat-icon-button>
        <mat-icon [inline]="true">text_rotation_none</mat-icon>
      </button>
      <span translate>ciphers.polyalphabetic.one-time-pad.capitalized</span>
    </mat-list-item>

  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header class="indicator-margin-override">
      {{ 'ciphers.polygraphic.title' | translate }}
    </mat-expansion-panel-header>

    <mat-list-item routerLink="/ciphers/polygraphic/hill">
      <button mat-icon-button>
        <mat-icon [inline]="true">grid_on</mat-icon>
      </button>
      <span translate>ciphers.polygraphic.hill.capitalized</span>
    </mat-list-item>
  </mat-expansion-panel>

</mat-nav-list>
