/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Material Overrides */

mat-slider.top-override > div.mat-slider-wrapper {
    top: 35px;
}

mat-card.top-margin-override {
    margin-top: 1rem;
}

mat-expansion-panel-header.indicator-margin-override > span.mat-expansion-indicator {
    margin-left: 1rem;
}